* {
    font-family: "Sansita", sans-serif;
}

header {
    background-color: #9e6d4e;
}

header a {
    color: #fdc5c9;
}

.nav-item a {
    color: #fa8cb1;
}

#boton-perfil {
    background-color: #fa8cb1;
}

.nav-item a:hover {
    color: #fffee1;
}

#app {
    color: #fa8cb1;
}

.boton-cv {
    background-color: #fa8cb1;
    color: white;
}

.Habilidades {
    background-color: #fdc5c9;
    color: #9e6d4e;
}

.btn-proyecto {
    background-color: #9e6d4e;
}

.btn-proyecto a {
    text-decoration: none;
    color: #fffee1;
}

.card .card-title {
    color: #9e6d4e;
}

#contacto {
    background-color: #fdc5c9;
    color: #9e6d4e;
}

#contacto p {
    color: #9e6d4e;
}
#btn-contacto{
    color: #9e6d4e;
}
#btn-contacto:hover{
    background-color: #fa8cb1;
}

footer li a i{
    color: #cfb699;
}
footer p{
    color: #9e6d4e;
}
footer a{
    text-decoration: none;
    color: #fa8cb1;

}